<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KodBook</title>
	</head>
		<body>
				<h1>KodBook</h1>
				<h4>#1 Social Media App</h4>
				<hr>
				
				<form action="/login" method="post">
					
					<label>USERNAME: </label>
					<input type="text" name="username">
					<br><br>
					
					<label>PASSWORD: </label>
					<input type="password" name="password">
					<br><br>
				
				<input type="submit" Value="LOGIN">
				
				<hr>
				
					<a href="/resetPassword">forgot password</a>
					<br>
					<br>
					<a href="/openSignUp">Create new account</a>
				</form>
	
		</body>
</html>