<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
		<title>KodBook Registration</title>
</head>
	<body>
			<h1>KodBook</h1>
			<h4>Create account on #1 Social Media App</h4>
			<hr>
				
				<form action="/signUp" method="post">
					
					<label>USERNAME: </label>
					<input type="text" name="username">
					<br><br>
					
					<label>EMAIL: </label>
					<input type="email" name="email">
					<br><br>
					
					<label>PASSWORD: </label>
					<input type="password" name="password">
					<br><br>
					
					<label>DOB: </label>
					<input type="date" name="dob">
					<br><br>
					
					
				<label>GENDER: </label>
				<label>Male</label><input type="radio" name="gender" value="Male">
				<label>FeMale</label><input type="radio" name="gender" value="FeMale">
				<label>Others</label><input type="radio" name="gender" value="others">
					<br><br>
				
				<input type="submit" Value="Sign Up">
				
				<hr>
				<a href="/">already have an account? Login</a>
				</form>
	
	</body>
</html>